In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = tup,(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tup = tuple('string')

In [6]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
nested_tup

((4, 5, 6), (7, 8))

In [8]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
a = 10
b = 20
c = 30
tup = a,b,c

In [10]:
tup

(10, 20, 30)

In [11]:
a = 100
b = 200
c = 300

In [12]:
tup

(10, 20, 30)

In [13]:
nested_tup[2]

IndexError: tuple index out of range

In [14]:
tup[2]

30

In [15]:
tup = tuple('string')

In [16]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [17]:
tup[3]

'i'

In [18]:
tup = tuple(['foo', [1,2], True])

In [19]:
tup

('foo', [1, 2], True)

In [20]:
tup[1].append(3)

In [21]:
tup

('foo', [1, 2, 3], True)

In [22]:
tup2 = 6,0

In [29]:
tup3 = ('bar',)

In [30]:
tup_concat = tup + tup2 + tup3

In [31]:
tup_concat

('foo', [1, 2, 3], True, 6, 0, 'bar')

In [32]:
tup2 * 5

(6, 0, 6, 0, 6, 0, 6, 0, 6, 0)

In [33]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [35]:
for a,b,c in seq:
    print('a = {0},b = {1},c = {2}'.format(a,b,c))

a = 1,b = 2,c = 3
a = 4,b = 5,c = 6
a = 7,b = 8,c = 9

In [36]:
gen = range(10)
gen

range(0, 10)

In [37]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list1 = list(gen)

In [39]:
5 in list1

True

In [40]:
4 not in list1

False

In [41]:
27 not in list1

True

In [42]:
import bisect

In [43]:
a = [1,2,2,2,3,4,7]

In [45]:
bisect.bisect(a,2)

4

In [46]:
bisect.insort(a,6)

In [47]:
a

[1, 2, 2, 2, 3, 4, 6, 7]

In [48]:
b = ['saw','small','He','foxes','six']

In [49]:
b.sort(key = len)

In [50]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [52]:
b.sort(key = len,reverse = True)

In [53]:
b

['small', 'foxes', 'saw', 'six', 'He']